{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}

<h1>{{serie.nom}}</h1>

<p>{{serie.debut}}</p>

<p>{{serie.fin}}</p>

<p>{{serie.nombresaisons}}</p>


    {{ form (form_edit)}}

{% endblock %}
